# Configuration du serveur
PORT=5000
NODE_ENV=development

# Connexion MongoDB
# En local direct: mongodb://localhost:27017/machinecare
# Avec Docker Compose: mongodb://mongodb:27017/machinecare
MONGO_URI=mongodb://localhost:27017/machinecare

# Sécurité & Authentification JWT
JWT_SECRET=your_jwt_secret_key_machinecare_2026
JWT_EXPIRES_IN=7d

# Compte administrateur par défaut (Seed automatique)
DEFAULT_ADMIN_NAME=Admin Safi
DEFAULT_ADMIN_EMAIL=admin@machinecare.ma
DEFAULT_ADMIN_PASSWORD=Admin@123456
